/* FONTS */
@font-face {
  src: url("../fonts/Mazzard/MazzardH-Black.otf");
  font-family: "mazzard";
}
@font-face {
  src: url("../fonts/Mazzard/MazzardH-Bold.otf");
  font-family: "mazzard bold";
}
@font-face {
  src: url("../fonts/Mazzard/MazzardH-ExtraBold.otf");
  font-family: "mazzard extrabold";
}
@font-face {
  src: url("../fonts/Mazzard/MazzardH-ExtraLight.otf");
  font-family: "mazzard extralight";
}
@font-face {
  src: url("../fonts/richmond_2/Richmond\ FREE.ttf");
  font-family: "richmond";
}
