// COLORS
$color-primary: #333333;
$color-black:#000;
$color-green:#0a472e;
$color-555: #555;
$color-yellow:#bac34e;
// Container
$width-container: 1380px;
$p-container: 30px;

// FONTS
$font-maz:"mazzard";
$font-mazbold:"mazzard bold";
$font-mazexbold:"mazzard extrabold";
$font-mazexlight:"mazzard extralight";
$font-richmond:"richmond";
