
.menu-top__contents {
  padding-top: 20px;
}
.menu-top__container {
}
.menu-top__text {
  font-family: "mazzard extralight";
  font-size: 14px;
  color: $color-black;
}
.menu-top__item {
  margin-right: 30px;
}
.menu-top__item:nth-child(3) {
  margin-right: 0;
}
.menu-top__link {
  font-family: "mazzard extralight";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  transition: color 0.4s ease;
  &:hover {
    color: $color-yellow;
  }
}